{% extends "page.html" %}
{% from "_format.html" import format with context -%}
{% block content %}
  <div style="display:grid; grid-template-columns: 80% auto;">
    <div style="grid-column: 1;">
      <h1>Concept
      {% if concept.other_properties is not none %}
        {% for prop in concept.other_properties %}
          {% if prop.uri == 'http://www.w3.org/2002/07/owl#deprecated' and prop.value == 'true' %}
            <sup style="color:red;">DEPRECATED</sup>
          {% endif %}
        {% endfor %}
      {% endif %}
      </h1>
      <h2>{{ concept.prefLabel }}</h2>
      <table class="metadata concept">
        <tr>
          <th>URI</th>
          <td><a href="{{ concept.uri }}">{{ concept.uri }}</a></td>
        </tr>
        <tr>
          <th>Within Vocab</th>
          {% if '/standard_name/' in concept.uri %}
          <td><a href="{{ url_for('standard_name') }}">{{ vocab_title }}</a></td>
          {% else %}
          <td><a href="{{ '/'.join(request.base_url.split('/')[:-2]) + '/' }}">{{ vocab_title }}</a></td>
          {% endif %}
        </tr>
        <tr>
          <th><a href="http://www.w3.org/2004/02/skos/core#prefLabel">Preferred Label</a></th>
          <td>{{ concept.prefLabel }}</td>
        </tr>
        {% if concept.altLabels|length > 0 %}
        <tr>
          <th><a href="http://www.w3.org/2004/02/skos/core#altLabel">Alternative Labels</a></th>
          <td>
            {% for a in concept.altLabels %}
              {{ a }}
            {% endfor %}
          </td>
        </tr>
        {% endif %}
        <tr>
          <th><a href="http://www.w3.org/2004/02/skos/core#definition">Definition</a></th>
            <td>{{ format(concept.definition)|safe }}</td>
        </tr>
        {% if concept.related_instances|length > 0 %}
          {% for k, v in concept.related_instances.items() %}
          <tr>
            <th><a href="{{ k }}">{{ v["label"] }}</a></th>
            <td>
              {% for inst in v["instances"] %}
                {% if '/standard_name/' in inst[0] %}
                  {% set ri_clean_uri = inst[0].replace('http://vocab.nerc.ac.uk/standard_name/', url_for('standard_name')) %}
                  {% set ri_vocab_uri = url_for('standard_name') %}
                  {% set ri_vocab_id = 'standard_name' %}
                  <strong><a href="{{ ri_vocab_uri }}">{{ ri_vocab_id }}</a></strong>: <a href="{{ ri_clean_uri }}">{{ inst[1] }}</a><br />
                {% elif '/collection/' in inst[0] %}
                  {% set ri_clean_uri = inst[0].replace('http://vocab.nerc.ac.uk/collection/', url_for('collections')) %}
                  {% set ri_vocab_uri = ri_clean_uri.split('/current/')[0] + '/current/' %}
                  {% set ri_vocab_id = inst[0].replace('http://vocab.nerc.ac.uk/collection/', '').split('/')[0] %}
                  <strong><a href="{{ ri_vocab_uri }}">{{ ri_vocab_id }}</a></strong>: <a href="{{ ri_clean_uri }}">{{ inst[1] }}</a><br />
                {% else %}
                  {% set ri_clean_uri = inst[0] %}
                  {% set ri_vocab_uri = inst[0] %}
                  {% set ri_vocab_id = 'Extnl' %}
                  {% set inst_1 = inst[0].split('/')[-1] %}
                  <strong><a href="{{ ri_vocab_uri }}">{{ ri_vocab_id }}</a></strong>: <a href="{{ ri_clean_uri }}">{{ inst_1 }}</a><br />
                {% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
      {% endif %}
      {% if concept.annotations is not none %}
        {% for prop in concept.annotations %}
        <tr>
          <th><a href="{{ prop.uri }}">{{ prop.label }}</a></th>
          <td>
            {% if prop.value[:4] == 'http' %}<a href="{{ prop.value }}">{{ prop.value }}</a>{% else %}{{ prop.value }}{% endif %}
          </td>
        </tr>
        {% endfor %}
      {% endif %}
      {% if concept.other_properties is not none %}
        {% for prop in concept.other_properties %}
          <tr>
            <th><a href="{{ prop.uri }}">{{ prop.label }}</a></th>
            <td>
              {% if prop.value[:4] == 'http' %}<a href="{{ prop.value }}">{{ prop.value }}</a>{% else %}{{ prop.value }}{% endif %}
            </td>
          </tr>
        {% endfor %}
      {% endif %}
      </table>
    </div>
    <div class="altprof" style="grid-column: 2;">
        <h3>Alternate Profiles</h3>
        <p>Different views and formats:</p>
          <p>
            <a href="{{ request.root_url }}?_profile=alt">Alternate Profiles</a>
            <span class="tooltip" style="font-weight:bold;">?<span class="tooltiptext">Different Media Types (HTML, text, RDF, JSON etc.) and different information model views, <em>profiles</em>, are available for this resource.</span></span>
          </p>
      </div>
  </div>
{% endblock %}
