{% extends "page.html" -%}
{% from "_concept_hierarchy.html" import render_concept_hierarchy with context -%}
{% block content %}
  <div style="display:grid; grid-template-columns: 80% auto;">
  <div style="grid-column: 1;">
    <h1>Vocabulary</h1><h2>{{ vocab.title }}</h2>
    <div class="overflow">
    <table class="metadata concept_scheme">
        <tr>
          <th>URI</th>
          <td><strong><a id="this_uri" href="{{ uri }}">{{ uri }}</a></strong></td>
        </tr>
        {%  if vocab.description is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/description">Description</a></th><td>{{ vocab.description }}</td>
        </tr>
        {% endif -%}
        {%  if vocab.creator is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/creator">Creator</a></th><td>{{ vocab.creator }}</a></td>
        </tr>
        {% endif -%}
        {%  if vocab.created is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/created">Created</a></th><td>{{ vocab.created.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endif -%}
        {%  if vocab.modified is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/modified">Modified</a></th><td>{{ vocab.modified.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endif -%}
        {%  if vocab.versionInfo is not none  -%}
        <tr>
          <th><a href="http://www.w3.org/2002/07/owl#versionInfo">Version Info</a></th><td>{{ vocab.versionInfo }}</td>
        </tr>
        {% endif -%}
        {% if vocab.downloadURL -%}
        <tr>
          <th>Download</th>
          <td>
            <a href="{{ vocab.downloadURL }}">RDF (turtle)</a>
          </td>
        </tr>
        {% endif -%}
        {% if vocab.other_properties is not none %}
          {% for prop in vocab.other_properties %}
            <tr>
              <th><a href="{{ prop.uri }}">{{ prop.label }}</a></th>
              <td>
                {% if prop.value[:4] == 'http' %}<a href="{{ prop.value }}">{{ prop.value }}</a>{% else %}{{ prop.value }}{% endif %}
              </td>
            </tr>
          {% endfor %}
        {% endif %}
        {%  if vocab.concept_hierarchy is not none and vocab.concept_hierarchy|length > 0  -%}
        <tr>
          <th valign="top"><a href="http://www.w3.org/2004/02/skos/core#hasTopConcept">Concept Hierarchy</a></th>
          <td>
              {{ render_concept_hierarchy(vocab.concept_hierarchy).replace('weefwrgr', '')|safe }}
          </td>
        </tr>
        {% endif -%}
        {% if vocab.collections == "Collection" %}
          <tr>
            <th valign="top"><a href=http://www.w3.org/2004/02/skos/core#member">Members</a></th>
            <td>
              {% for concept in vocab.concepts %}
                {% if "/standard_name/" in concept[0] %}
                  {% set concept_id = concept[0].split('/standard_name/')[-1].rstrip('/') %}
                <a href="{% if LOCAL_URLS %}{{ url_for('standard_name_concept', concept_id=concept_id) }}{% else %}{{ concept[0] }}{% endif %}">{{ concept[1] }}</a>{% if concept[2] %}<sup style="color:red;">DEPRECATED</sup>{% endif %}<br />
                {% else %}
                {% set vocab_id = concept[0].split('/collection/')[-1].split('/current/')[0] %}
                {% set concept_id = concept[0].split('/current/')[-1].rstrip('/') %}
                <a href="{% if LOCAL_URLS %}{{ url_for('concept', vocab_id=vocab_id, concept_id=concept_id) }}{% else %}{{ concept[0] }}{% endif %}">{{ concept[1] }}</a>{% if concept[2] %}<sup style="color:red;">DEPRECATED</sup>{% endif %}<br />
                {% endif %}
              {% endfor -%}
              {% if vocab.concepts|length < 1 %}
                <p><em>There are no Concepts listed for this view of a Vocabulary</em></p>
              {% endif %}
            </td>
          </tr>
        {% elif vocab.collections is not none and vocab.collections|length > 0  -%}
        <tr>
          <th><a href="http://www.w3.org/2004/02/skos/core#Collection">Collections</a></th>
          <td>
            {% for collection in vocab.collections %}
              {% if LOCAL_URLS -%}
                <a href="{{ url_for('object') }}?vocab_uri={{ uri }}&uri={{ collection[0] }}">{{ collection[1] }}</a><br />
              {% else -%}
                <a href="{{ collection[0] }}">{{ collection[1] }}</a><br />
              {% endif -%}
            {% endfor %}
          </td>
        </tr>
        {% endif -%}
    </table>
  </div>
  </div>
  <div style="grid-column: 2;">
    <div class="altprof">
      <h3>Alternate Profiles</h3>
      <p>Different views and formats:</p>
      <p>
      {% if LOCAL_URLS -%}
        <a href="{{ request.base_url }}?_profile=alt">Alternate Profiles</a>.
      {% else -%}
        <a href="{{ uri }}&_profile=alt">Alternate Profiles</a>.
      {% endif -%}
        <span class="tooltip" style="font-weight:bold;">?<span class="tooltiptext">Different Media Types (HTML, text, RDF, JSON etc.) and different information model views, <em>profiles</em>, are available for this resource.</span></span>
      </p>
    </div>
    <!--
    <div class="search">
      <h3>Search</h3>
      <input type="text" id="sw-text" name="sw-text" />
      <label for="sw-text" class="tooltip" style="font-weight:bold;">?<span class="tooltiptext">Enter a search term here to search within this vocabulary. To search across all vocabularies, use the 'Search NVS' link at top</span></label>
      <input id="#sw-submit" type="submit" value="Search" />
    </div>
    -->
  </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
  $(document).ready(function() {
    $("#sw-submit").click(function(event) {
        console.log("click");
      var redirect = 'https://www.bodc.ac.uk/resources/vocabularies/vocabulary_search/{{ vocab.id.replace("http://vocab.nerc.ac.uk/collection/", "").replace("/current/", "") }}/';
      var payload = {
        "searchstrVocab": $("#sw-text").val(),
        "identifier": "identifier",
        "preflabel": "preflabel",
        "altlabel": "altlabel",
        "definition": "definition",
        "searchtype": "concepts",
        "collectionID": "{{ vocab.id.replace("http://vocab.nerc.ac.uk/collection/", "").replace("/current/", "") }}",
        "vocab": "{{ vocab.id.replace("http://vocab.nerc.ac.uk/collection/", "").replace("/current/", "") }}",
        "dosearch": "true",
        "vocabtitle": "{{ vocab.title }}",
        "resultsPerPage": 10,
      };
      console.log(payload);
      //$.redirectPost(redirect, payload);
    });

    /* redirects to NVS search system */
    $.extend({
        redirectPost: function(location, args)
        {
          var form = $('<form></form>');
          form.attr("method", "post");
          form.attr("action", location);

          $.each( args, function( key, value ) {
            var field = $('<input></input>');

            field.attr("type", "hidden");
            field.attr("name", key);
            field.attr("value", value);

            form.append(field);
          });

          $(form).appendTo('body').submit();
        }
      });
  });
  </script>
{% endblock -%}
