{% extends "page.html" -%}
{% from "_concept_hierarchy.html" import render_concept_hierarchy with context -%}
{% block content %}
  <div style="display:grid; grid-template-columns: 80% auto;">
    <div style="grid-column: 1; grid-row: 1;">
      <h1>Vocabulary</h1>
      <h2>{{ vocab.title }}</h2>
      <table class="metadata">
        <tr>
          <th>URI</th>
          <td><strong><a id="this_uri" href="{{ utils.get_content_uri(uri) }}">{{ uri }}</a></strong></td>
        </tr>
        {%  if vocab.description is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/description">Description</a></th><td>{{ vocab.description|markdown }}</td>
        </tr>
        {% endif -%}
        {%  if vocab.creator is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/creator">Creator</a></th><td>{{ vocab.creator }}</td>
        </tr>
        {% endif -%}
        {%  if vocab.created is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/created">Created</a></th><td>{{ vocab.created.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endif -%}
        {%  if vocab.modified is not none  -%}
        <tr>
          <th><a href="http://purl.org/dc/terms/modified">Modified</a></th><td>{{ vocab.modified.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endif -%}
        {%  if vocab.versionInfo is not none  -%}
        <tr>
          <th><a href="http://www.w3.org/2002/07/owl#versionInfo">Version Info</a></th><td>{{ vocab.versionInfo }}</td>
        </tr>
        {% endif -%}
        {% if vocab.downloadURL -%}
        <tr>
          <th>Download</th>
          <td>
            <a href="{{ vocab.downloadURL }}">RDF (turtle)</a>
          </td>
        </tr>
        {% endif -%}
        {% if vocab.other_properties is not none %}
          {% for prop in vocab.other_properties %}
            <tr>
              <th><a href="{{ prop.uri }}">{{ prop.label }}</a></th>
              <td>
                {% if prop.value[:4] == 'http' %}<a href="{{ prop.value }}">{{ prop.value }}</a>{% else %}{{ prop.value }}{% endif %}
              </td>
            </tr>
          {% endfor %}
        {% endif %}
        {%  if vocab.concept_hierarchy is not none and vocab.concept_hierarchy|length > 0  -%}
        <tr>
          <th valign="top"><a href="http://www.w3.org/2004/02/skos/core#hasTopConcept">Concept Hierarchy</a></th>
          <td>
              {{ render_concept_hierarchy(vocab.concept_hierarchy)|safe }}
          </td>
        </tr>
        {% endif -%}
        {% if vocab.collections != "Collection" and vocab.collections|length > 0  -%}
        <tr>
          <th><a href="http://www.w3.org/2004/02/skos/core#Collection">Collections</a></th>
          <td>
            {% for collection in vocab.collections %}
              <a href="{{ utils.get_content_uri(collection[0]) }}">{{ collection[1] }}</a>
            {% endfor %}
          </td>
        </tr>
        {% endif -%}
    </table>
    </div>
    <div style="grid-column: 2; grid-row: 1;">
      {% include 'nvs_alt_link.html' %}
    </div>
  </div>
  {% if vocab.collections == "Collection" %}
    <div style="grid-column: 1/2; grid-row: 2;">
      <h3><a href="http://www.w3.org/2004/02/skos/core#member">Members</a></h3>
      <table id="vocsort" class="vocs tablesorter" style="table-layout:fixed; max-width:1000px; margin-bottom:20px;">
        <thead>
          <tr>
            <th>ID <span class="arr">&uarr;</span></th>
            <th>Preferred&nbsp;Label <span class="arr">&uarr;</span></th>
            <th>Definition <span class="arr">&uarr;</span></th>
            <th>Date <span class="arr">&uarr;</span></th>
          </tr>
        </thead>
        <tbody>
        {% for concept in vocab.concepts %}
          <tr>
            <td style="vertical-align:top; padding-bottom:10px; word-wrap:break-word; word-break:break-all; max-width:150px;"><a href="{{ utils.get_content_uri(concept[0]) }}">{{ utils.get_concept_id(concept[0]) }}</a></td>
            <td style="vertical-align:top; padding-bottom:10px; word-wrap:break-word; max-width:250px;">{{ concept[1] }}
              {% if concept[4] %}<sup style="color:red;">DEPRECATED</sup>{% endif %}</td>
            <td style="vertical-align:top; padding:0 10px 10px 10px; word-wrap:break-word; max-width:510px;">{{ concept[2] }}</td>
            <td style="vertical-align:top; padding-bottom:10px; width:80px;">{% if concept[3] %}{{ concept[3].split(" ")[0] }}{% endif %}</td>
          </tr>
        {% endfor %}
        </tbody>
      {% if vocab.concepts|length < 1 %}
        <tr><th colspan="4"><em>There are no Concepts listed for this Vocabulary</em></th></tr>
      {% endif %}
      </table>
    </div>
  {% endif %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>
  <script>
    $(function() {
      $("#vocsort").tablesorter();
    });

    $("#vocsort thead tr th").click(function(event) {
      if ($(this).find(".arr").html() == "↓") {
        $(".arr").html("&uarr;")
      } else {
        $(".arr").html("&uarr;")
        $(this).find(".arr").html("&darr;")
      }
    });
  </script>
{% endblock -%}
